body{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #500B89 !important;
}

.btn-primary:hover {
    background-color: rgba(80, 11, 137, 0.74) !important;
}

.btn-secondary {
	color: #500B89 !important;
	background-color: white !important;
	border-color: #500B89 !important;
}

.btn-secondary:hover {
	color: white !important;
	background-color: #500B89 !important;
	border-color: #500B89 !important;
}

#mainNav {
    background-color: #500B89 !important;
}

.adBox {
    height: 430px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}

.adBoxHover {
    /* background-color: lightgrey; */
}

.imgAdBox {
    max-height: 300px;
    border-radius: 10px;
}

.imgAdBoxHover {
    width: 70%;
    border-radius: 30px;
}

.imgPetOpened {
    width: 100%;
    border-radius: 10px;
}

.imgPetClosed {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.petInformacoesPrincipais {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.bigImage {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.smallImages {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.petInformacoesSecundarias {
    margin-top: 30px;
    text-align: center;
}

.sobreOPet {
    text-align: justify;
}

.imgIconShare {
    width: 50px;
    cursor: pointer;
}