<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" size-sm="6" size-xs="12">
        <ion-card class="welcome-card">
          <ion-slides pager="true">
            <ion-slide>
              <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/912.jpeg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/285.jpeg"></ion-img>
            </ion-slide>
            <ion-slide>
              <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/355.jpeg"></ion-img>
            </ion-slide>
          </ion-slides>
          <ion-card-header>
            <ion-card-title style="text-align: center" color="primary">Lexy</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
              some
              of the resources below for next steps.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://beta.ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://beta.ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://beta.ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
</ion-content>