<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'CadastroDoacao',
                'page_path': '/doacoes_cadastro'
            });
    </script>

    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'CadastroDoacao',
                'page_path': '/doacoes_cadastro'
            });
    </script> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logos/favicon_pata.ico">
    <title>PetSaver</title>

    <link href="../css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="../css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="../css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->

    <link href="../css/helper.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/myStyle.css" rel="stylesheet">
    <link href="../css/toggle.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <style>
        p {
            color: #500B89 !important;
            font-size: 20px;
            text-align: center;
        }
    </style>

    <!-- Fine Uploader New/Modern CSS file
    ====================================================================== -->
    <link href="../css/fileuploader/fine-uploader-new.css" rel="stylesheet">

    <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
    <script src="../js/fineuploader/fineUploaderTemplate.js" type="text/template" id="qq-template-validation">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Solte as fotos aqui" style="width: 100%; max-height: none">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="col-md-12 qq-upload-button-selector qq-upload-button btn btn-primary" style="width: 100%; background-color: #5D048D; border: none">
                <div>Selecionar fotos</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals" style="max-height: none">
                <li class="row col-md-12 lilili">
                    <!--<div class="col-1" style="display:flex;justify-content:center;align-items:center;">
                        <input name="radioDefaultImage" onclick="imgDefaultSelected()" type="radio" />
                    </div>-->
                    <div class="col-md-4 col-8">
                        <div class="qq-progress-bar-container-selector">
                            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                        </div>
                        <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                        <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    </div>
                    <div class="col-md-8 col-4" style="text-align: right; display:flex;justify-content:flex-end;align-items:center;">
                        <button type="button" class="qq-upload-cancel-selector btn btn-danger col-xs-12">x</button>
                    </div>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Fechar</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Não</button>
                    <button type="button" class="qq-ok-button-selector">Sim</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancelar</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar" ng-app="pets" ng-controller="daocaoCadastroController as ctrl" ng-init="ctrl.OnInit()">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light bg-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="../index.html">
                        <!-- Logo text -->
                        <span>
                            <img src="../images/logos/logo_fundo_branco_fina.gif" height="40px" alt="homepage" class="dark-logo" />
                        </span>
                        <!-- Logo icon -->
                        <b>
                            <img src="../images/logos/logo_ps_fundo_branco.gif" width="40px" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <!-- <i class="fa fa-bell"></i> -->
                                <img src="../icons/notification.png" width="30">
                                <div class="notify">
                                    <span class="heartbit"></span>
                                    <span class="point"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">notificações</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5>
                                                    <span class="mail-desc">Just see the my new admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle m-r-10">
                                                    <i class="ti-calendar"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5>
                                                    <span class="mail-desc">Just a reminder that you have event</span>
                                                    <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10">
                                                    <i class="ti-settings"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5>
                                                    <span class="mail-desc">You can customize this template as you want</span>
                                                    <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10">
                                                    <i class="ti-user"></i>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="javascript:void(0);">
                                            <strong>ver todas</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" id="2" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="../icons/chat.png" width="30">
                                <div class="notify">
                                    <span class="heartbit"></span>
                                    <span class="point"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">você tem 4 novas mensagens</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../images/users/5.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status online pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../images/users/2.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status busy pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5>
                                                    <span class="mail-desc">I've sung a song! See you at</span>
                                                    <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../images/users/3.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status away pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5>
                                                    <span class="mail-desc">I am a singer!</span>
                                                    <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img">
                                                    <img src="../images/users/4.jpg" alt="user" class="img-circle">
                                                    <span class="profile-status offline pull-right"></span>
                                                </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5>
                                                    <span class="mail-desc">Just see the my admin!</span>
                                                    <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="chats.html">
                                            <strong>ver todas</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="../icons/profile.png" width="30px" alt="user">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li>
                                        <a style="color: #500B89 !important;" href="meus_dados.html">
                                            <img src="../icons/profile_edit.png" width="30px" alt="meus dados"></i>
                                            meus
                                            dados
                                        </a>
                                    </li>
                                    <li>
                                        <a style="color: #500B89 !important;" href="#">
                                            <img style="cursor: pointer;" src="../icons/logout.png" width="30px" alt="sair"></i>
                                            sair
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" id="sidebar-intern">
                    <ul id="sidebarnav" style="margin-top:20px;">
                        <li>
                            <a style="color: #500B89 !important;" href="dashboard.html">
                                <img src="../icons/dashboard.png" width="30px">
                                <span class="hide-menu">Visão Geral</span>
                            </a>
                        </li>
                        <li>
                            <a style="color: #500B89 !important;" class="has-arrow" href="#" aria-expanded="false">
                                <img src="../homepage/icons/donation.png" width="30px">
                                <span class="hide-menu">
                                    Doações
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="doacoes_cadastro.html" aria-expanded="false">
                                        <img src="../icons/new.png" width="30px">
                                        <span class="show-menu">Cadastrar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="doacoes_relatorio.html" aria-expanded="false">
                                        <img src="../icons/list.png" width="30px">
                                        <span class="show-menu">Visualizar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a style="color: #500B89 !important;" class="has-arrow" href="#" aria-expanded="false">
                                <img src="../icons/house.png" width="30px">
                                <span class="hide-menu">
                                    Adoções
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="favoritos.html" aria-expanded="false">
                                        <img src="../icons/heart.png" width="30px">
                                        <span class="show-menu">Favoritos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="adocoes_relatorio.html" aria-expanded="false">
                                        <img src="../icons/list.png" width="30px">
                                        <span class="show-menu">Interesses</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <img src="../icons/binoculars.png" width="30px">
                                <span class="hide-menu">
                                    Pet perdido
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="petperdido_cadastro.html" aria-expanded="false">
                                        <img src="../icons/find.png" width="30px">
                                        <span class="show-menu">Perdi meu pet</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="petperdido_relatorio.html" aria-expanded="false">
                                        <img src="../icons/list.png" width="30px">
                                        <span class="show-menu">Visualizar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">
                                <img src="../icons/find.png" width="30px">
                                <span class="hide-menu">
                                    Pet encontrado
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="petencontrado_cadastrar.html" aria-expanded="false">
                                        <img src="../icons/binoculars.png" width="30px">
                                        <span class="show-menu">Encontrei um pet</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="petencontrado_relatorio.html" aria-expanded="false">
                                        <img src="../icons/list.png" width="30px">
                                        <span class="show-menu">Visualizar</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li style="position: absolute; bottom: 15px;">
                            <a href="contribuir.html" aria-expanded="false">
                                <img src="../icons/donate_money.png" width="30px">
                                <span class="hide-menu">Quero contribuir</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper" style="background-color: white;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Doar Pet</h3>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div>
                    <!-- Escolha do tipo de pet -->
                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.petSelection">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 15%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Olá Saver, que felicidade ter você aqui buscando um novo lar para um pet.</p>
                                <p>Para começarmos, escolha um dos pets abaixo:</p>
                            </div>
                        </div>
                        <div class="row" style="text-align: center; margin-top: 20px;">
                            <div style="margin-left: 55px;" class="col-md-2 boxSelecaoPet" ng-class="{'boxSelecaoPetSelecionado': ctrl.base.ctrlCadastroAnuncio.dogSelected, 'boxSelecaoPet': !ctrl.base.ctrlCadastroAnuncio.dogSelected}"
                                 ng-click="ctrl.base.ctrlCadastroAnuncio.SelectPet('Cachorro');">
                                <img src="../icons/dog.png" style="width: 105%; padding: 10px; margin-bottom: 9px;">
                                <h3>Cachorro</h3>
                            </div>
                            <div style="margin-left: 20px;" class="col-md-2 boxSelecaoPet" ng-class="{'boxSelecaoPetSelecionado': ctrl.base.ctrlCadastroAnuncio.catSelected, 'boxSelecaoPet': !ctrl.base.ctrlCadastroAnuncio.catSelected}"
                                 ng-click="ctrl.base.ctrlCadastroAnuncio.SelectPet('Gato');">
                                <img src="../icons/cat.png" style="width: 105%; padding: 10px; margin-bottom: 9px;">
                                <h3>Gato</h3>
                            </div>
                            <div style="margin-left: 20px;" class="col-md-2 boxSelecaoPet" ng-class="{'boxSelecaoPetSelecionado': ctrl.base.ctrlCadastroAnuncio.hamsterSelected, 'boxSelecaoPet': !ctrl.base.ctrlCadastroAnuncio.hamsterSelected}"
                                 ng-click="ctrl.base.ctrlCadastroAnuncio.SelectPet('Roedor');">
                                <img src="../icons/hamster.png" style="width: 105%; padding: 10px; margin-bottom: 9px;">
                                <h3>Roedor</h3>
                            </div>
                            <div style="margin-left: 40px;" class="col-md-2 boxSelecaoPet" ng-class="{'boxSelecaoPetSelecionado': ctrl.base.ctrlCadastroAnuncio.birdSelected, 'boxSelecaoPet': !ctrl.base.ctrlCadastroAnuncio.birdSelected}"
                                 ng-click="ctrl.base.ctrlCadastroAnuncio.SelectPet('Ave');">
                                <img src="../icons/bird.png" style="width: 105%; padding: 10px; margin-bottom: 9px;">
                                <h3>Ave</h3>
                            </div>
                            <div style="margin-left: 40px;" class="col-md-2 boxSelecaoPet" ng-class="{'boxSelecaoPetSelecionado': ctrl.base.ctrlCadastroAnuncio.othersSelected, 'boxSelecaoPet': !ctrl.base.ctrlCadastroAnuncio.othersSelected}"
                                 ng-click="ctrl.base.ctrlCadastroAnuncio.SelectPet('Outros');">
                                <img src="../icons/others.png" style="width: 105%; padding: 10px; margin-bottom: 9px;">
                                <h3>Outros</h3>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12" style="text-align: right;">
                                <select class="btn btn-primary" ng-show="ctrl.base.ctrlCadastroAnuncio.comboOutrosMostrar" ng-model="ctrl.base.ctrlCadastroAnuncio.outrosSelecionado"
                                        ng-change="ctrl.base.ctrlCadastroAnuncio.ValidarComboOutros()">
                                    <option value="">Selecione</option>
                                    <option value="{{x.Chave}}" ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Animais">{{x.Valor}}</option>
                                </select>
                                <button class="btn btn-primary" ng-disabled="!ctrl.base.ctrlCadastroAnuncio.petSelected" ng-click="ctrl.base.ctrlCadastroAnuncio.PetEscolhido(true)">Próximo</button>
                            </div>
                        </div>
                    </div>


                    <!-- Informações básicas -->

                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.petInfos1">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 30%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <p>Nos conte um pouquinho mais sobre nosso amigo</p>

                        <div class="form-body" style="margin-top:50px;">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp"
                                           placeholder="Nome" autocomplete="off" ng-model="ctrl.base.ctrlCadastroAnuncio.TxtNomePet">
                                    <small id="nomeHelp" class="form-text text-muted">Nos conte qual o nome do seu pet. Caso não saiba ou não tenha, pode deixar em branco.</small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.sexoError}">
                                    <select class="form-control custom-select" id="sexo" aria-describedby="sexoHelp" ng-model="ctrl.base.ctrlCadastroAnuncio.CmbSexoPet">
                                        <option value="" disabled selected>Sexo</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Sexos" value="{{x.Chave}}">{{x.Valor}}</option>
                                        <option value="0">Não sei</option>
                                    </select>
                                    <small id="sexoHelp" class="form-text text-muted">Caso não saiba, selecione a opção "Não sei".</small>
                                    <small id="nomeError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.sexoError">
                                        É obrigatório selecionar uma opção
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.racaError}">
                                    <select class="form-control custom-select" aria-describedby="racaHelp" ng-model="ctrl.base.ctrlCadastroAnuncio.CmbRacaEspeciePet">
                                        <option value="" disabled selected>Raça / Espécie</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Racas" value="{{x.Chave}}">{{x.Valor}}</option>
                                        <option value="0">Não sei</option>
                                    </select>
                                    <small id="racaHelp" class="form-text text-muted">
                                        Caso não tenha certeza da
                                        raça/espécie,
                                        selecione a opção "Não sei".
                                    </small>
                                    <small id="nomeError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.racaError">
                                        É obrigatório selecionar uma opção
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.idadeError}">
                                    <select class="form-control custom-select" id="idade" aria-describedby="idadeHelp" ng-model="ctrl.base.ctrlCadastroAnuncio.CmbIdadePet">
                                        <option value="" disabled selected>Idade</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Idades" value="{{x.Chave}}">{{x.Valor}}</option>
                                        <option value="0">Não sei</option>
                                    </select>
                                    <small id="idadeHelp" class="form-text text-muted">
                                        Caso não tenha certeza da idade
                                        do
                                        pet, selecione a opção "Não sei".
                                    </small>
                                    <small id="nomeError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.idadeError">
                                        É obrigatório selecionar uma opção
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.porteError}">
                                    <select class="form-control custom-select" id="tamanho" aria-describedby="tamanhoHelp" ng-model="ctrl.base.ctrlCadastroAnuncio.CmbPortePet">
                                        <option value="" disabled selected>Porte</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Portes" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                    <small id="tamanhoHelp" class="form-text text-muted">Selecione o tamanho do pet.</small>
                                    <small id="tamanhoError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.porteError">
                                        Esse
                                        é um
                                        campo
                                        obrigatório.
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.pesoError}">
                                    <input type="text" class="form-control" id="peso" aria-describedby="pesoHelp"
                                           placeholder="Peso" autocomplete="off" ng-model="ctrl.base.ctrlCadastroAnuncio.TxtPesoPet">
                                    <small id="pesoHelp" class="form-text text-muted">
                                        Caso não saiba o peso, pode deixar
                                        este campo em branco. Unidade: Kg
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.peloError}">
                                    <select class="form-control custom-select" id="tamanho" aria-describedby="peloHelp" ng-model="ctrl.base.ctrlCadastroAnuncio.CmbPeloPet">
                                        <option value="" disabled selected>Pelo</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Pelos" value="{{x.Chave}}">{{x.Valor}}</option>
                                        <option value="0">Não se aplica</option>
                                    </select>
                                    <small id="tamanhoHelp" class="form-text text-muted">
                                        Caso o pet não tenha pelo, selecione a opção "Não se aplica"
                                    </small>
                                    <small id="nomeError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.peloError">
                                        É obrigatório selecionar uma opção
                                    </small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.cor1error}">
                                    <select class="form-control custom-select" id="cor1" aria-describedby="cor1Help" ng-model="ctrl.base.ctrlCadastroAnuncio.Cor1Pet" ng-change="ctrl.base.ctrlCadastroAnuncio.CorPrimariaChange()">
                                        <option value="" disabled selected>Cor principal</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Cores" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                    <small id="cor1Help" class="form-text text-muted">Nos conte qual a cor do pet.</small>
                                    <small id="cor1error" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.cor1error">
                                        Esse é
                                        um
                                        campo
                                        obrigatório.
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.cor2error}">
                                    <select class="form-control custom-select" id="cor2" aria-describedby="cor2Help" ng-model="ctrl.base.ctrlCadastroAnuncio.Cor2Pet">
                                        <option value="" disabled selected>Cor secundária</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.CoresSecundarias" value="{{x.Chave}}">{{x.Valor}}</option>
                                        <option value="0">Não se aplica</option>
                                    </select>
                                    <small id="cor2Help" class="form-text text-muted">
                                        Essa é uma cor secundária, caso
                                        não
                                        tenha selecione a opção "Não se aplica".
                                    </small>
                                    <small id="nomeError" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.cor2error">
                                        É obrigatório selecionar uma opção
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.estadoErro}">
                                    <select class="form-control custom-select" ng-model="ctrl.base.ctrlCadastroAnuncio.EstadoPet" ng-change="ctrl.base.ctrlCadastroAnuncio.EstadoSelecionadoChange()">
                                        <option value="" disabled selected>Estado</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Estados" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                    <small id="estadoErro" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.estadoErro">
                                        Esse é
                                        um
                                        campo
                                        obrigatório.
                                    </small>
                                </div>
                                <div class="form-group col-md-3" ng-class="{'has-error':ctrl.base.ctrlCadastroAnuncio.cidadeErro}">
                                    <select class="form-control custom-select" ng-model="ctrl.base.ctrlCadastroAnuncio.CidadePet">
                                        <option value="" disabled selected>Cidade</option>
                                        <option ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.Cidades" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                    <small id="cidadeErro" class="form-control-feedback" ng-show="ctrl.base.ctrlCadastroAnuncio.cidadeErro">
                                        Esse é
                                        um
                                        campo
                                        obrigatório.
                                    </small>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-6" style="text-align: left;">
                                    <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(1)">Voltar</button>
                                </div>
                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.BtnProximoInfoBasicas(true);">Próximo</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Informações de saúde -->

                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.petInfosSaude">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 45%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <p>Vamos falar um pouco sobre a saúde do pet</p>

                        <div class="row justify-content-center" ng-show="ctrl.perguntaVacinado">
                            <div class="col-md-4" style="margin-top: 30px; text-align: center">
                                <h2 class="color-primary">1 / 3</h2>
                                <p>Está vacinado?</p><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaVacinado(true)">Sim</button><br /><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaVacinado(false)">Não</button><br /><br />
                                <button class="btn btn-secondary col-12" ng-click="ctrl.RespostaVacinado(null)">Não se aplica</button><br /><br />
                            </div>
                        </div>

                        <div class="row justify-content-center" ng-show="ctrl.perguntaVermifugado">
                            <div class="col-md-4" style="margin-top: 30px; text-align: center">
                                <h2 class="color-primary">2 / 3</h2>
                                <p>Está vermifugado?</p><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaVermifugado(true)">Sim</button><br /><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaVermifugado(false)">Não</button><br /><br />
                                <button class="btn btn-secondary col-12" ng-click="ctrl.RespostaVermifugado(null)">Não se aplica</button><br /><br />
                            </div>
                        </div>

                        <div class="row justify-content-center" ng-show="ctrl.perguntaCastrado">
                            <div class="col-md-4" style="margin-top: 30px; text-align: center">
                                <h2 class="color-primary">3 / 3</h2>
                                <p>É castrado?</p><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaCastrado(true)">Sim</button><br /><br />
                                <button class="btn btn-primary col-12" ng-click="ctrl.RespostaCastrado(false)">Não</button><br /><br />
                                <button class="btn btn-secondary col-12" ng-click="ctrl.RespostaCastrado(null)">Não se aplica</button><br /><br />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6" style="text-align: left;">
                                <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(3)">Voltar</button>
                            </div>
                            <div class="col-6" style="text-align: right;">
                                <button class="btn btn-primary" ng-disabled="ctrl.SaudePendente" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(4)">Próximo</button>
                            </div>
                        </div>

                    </div>

                    <!-- Observações -->

                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.petObservacoes">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 70%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <p>
                            Que tal nos contar um pouco mais sobre o pet, essas informações são muito importantes pra gente
                        </p>

                        <div class="form-body" style="margin-top:50px;">
                            <div class="row" style="text-align: center">
                                <div class="col-md-12" style="margin-bottom:50px;">
                                    <div class="input-group">
                                        <textarea class="form-control" aria-label="With textarea" style="height: 150px; border-radius: 5px;" placeholder="É muito importante nos dizer se seu pet possui alguma coleira ou algo que facilite a sua identificação ;)" ng-model="ctrl.base.ctrlCadastroAnuncio.TxtDescricaoPet"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6" style="text-align: left;">
                                    <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(6)">Voltar</button>
                                </div>
                                <div class="col-6" style="text-align: right;">
                                    <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(5)">Próximo</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fotos -->

                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.petFotos">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 85%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <p>Chegou a hora de nos enviar as fotos</p>

                        <!-- Fine Uploader DOM Element
                ====================================================================== -->
                        <div class="col-md-4 offset-md-4" id="fine-uploader-validation" style="width: 100%; margin-bottom: 25px"></div>

                        <div class="row">
                            <div class="col-6" style="text-align: left;">
                                <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.GoTo(4)">Voltar</button>
                            </div>
                            <div class="col-6" style="text-align: right;">
                                <button class="btn btn-primary disabled" id="btnFinalizarCadastro" ng-click="ctrl.base.ctrlCadastroAnuncio.UploadImagens()" ng-hide="ctrl.base.ctrlCadastroAnuncio.Cadastrando" disabled>Finalizar</button>
                                <img style="width:40px;" src="../images/loading.gif" ng-show="ctrl.base.ctrlCadastroAnuncio.Cadastrando" />
                            </div>
                        </div>
                        <!--</div>-->
                    </div>

                    <!-- Confirmacao -->

                    <div ng-show="ctrl.base.ctrlCadastroAnuncio.confirmacao" style="text-align: center;">
                        <div class="row" style="margin-top:20px; margin-bottom:40px;">
                            <div class="col-md-12">
                                <div class="progress">
                                    <div class="progress-bar bg-dark" style="width: 100%;" role="progressbar"></div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 40px">

                            <h1 class="color-primary" style="margin-bottom: 40px">Seu pet foi cadastrado com sucesso!</h1>
                            <p>Precisamos de um tempinho para validar seu anúncio em nosso sistema, mas não se preocupe, vamos lhe avisar assim que tudo estiver pronto.</p>
                            <p>Obrigado por contribuir com a nossa missão de salvar milhões de pets!</p>

                        </div>

                        <div style="margin-bottom: 40px" ng-show="ctrl.base.ctrlCadastroAnuncio.FotosCadastradas.length > 1">
                            <div>
                                <h2 class="color-primary" style="margin-bottom: 40px">Selecione a foto destaque do anúncio</h2>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-3" ng-repeat="x in ctrl.base.ctrlCadastroAnuncio.FotosCadastradas">
                                    <button class="btn btn-primary" ng-click="ctrl.base.ctrlCadastroAnuncio.SelecionarFotoDestaque(x.Chave)">Selecionar</button>
                                    <br />
                                    <br />
                                    <img src="../{{x.Valor}}" style="max-height: 90%; max-width: 90%" />
                                </div>
                            </div>
                        </div>

                        <div style="margin-bottom: 40px" ng-show="ctrl.base.ctrlCadastroAnuncio.ImgDestaqueSucesso">
                            <img src="../icons/ok.png" width="200px" />
                        </div>

                    </div>

                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End PAge Content -->
            <!-- End Container fluid  -->
            <!-- footer -->
            <div ng-include="'footer.html'"></div>
            <!-- End footer -->
        </div>
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="../js/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="../js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../js/jquery.slimscroll.js"></script>

    <!--Menu sidebar -->
    <script src="../js/sidebarmenu.js"></script>

    <!--Custom JavaScript -->
    <script src="../js/custom.min.js"></script>

    <!--stickey kit -->
    <script src="../js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="../js/lib/datamap/d3.min.js"></script>
    <script src="../js/lib/datamap/topojson.js"></script>
    <script src="../js/lib/datamap/datamaps.world.min.js"></script>
    <script src="../js/lib/datamap/datamap-init.js"></script>

    <!-- Fine Uploader-->
    <script src="../js/fineuploader/jquery.fine-uploader.js"></script>
    <script src="../js/fineuploader/fineUploaderHelper.js"></script>

    <script>
        var latitude = null;
        var longitude = null;
    </script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="../js/controllers/app.js"></script>
    <script src="../js/controllers/base.js"></script>
    <script src="../js/controllers/doacaoCadastro.js"></script>

</body>

</html>