<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'MeusDados',
                'page_path': '/meus_dados'
            });
    </script>

    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'MeusDados',
                'page_path': '/meus_dados'
            });
    </script> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logos/favicon_pata.ico">
    <title>PetSaver</title>

    <link href="../css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="../css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="../css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/helper.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/myStyle.css" rel="stylesheet">
    <link href="../css/toggle.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar" ng-app="pets" ng-controller="meusDadosController as ctrl" ng-init="ctrl.OnInit()">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light bg-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="../home.html">
                        <!-- Logo text -->
                        <span>
                            <img src="../images/logos/logo_fundo_branco_fina.gif" height="40px" alt="homepage" class="dark-logo" />
                        </span>
                        <!-- Logo icon -->
                        <b>
                            <img src="../images/logos/logo_ps_fundo_branco.gif" width="40px" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="../icons/profile.png" width="30px" alt="user">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li>
                                        <a style="color: #500B89 !important;" href="meus_dados.html">
                                            <img src="../icons/profile_edit.png" width="30px" alt="meus dados"></i>
                                            meus
                                            dados
                                        </a>
                                    </li>
                                    <li class="link" ng-click="ctrl.base.FazerLogoffInside(); ">
                                        <a style="color: #500B89 !important;" href="#">
                                            <img style="cursor: pointer;" src="../icons/logout.png" width="30px" alt="sair"></i>
                                            sair
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" id="sidebar-intern">
                    <ul id="sidebarnav" style="margin-top:20px;">
                        <li>
                            <a style="color: #500B89 !important;" href="dashboard.html">
                                <img src="../icons/dashboard.png" width="30px">
                                <span class="hide-menu">Visão Geral</span>
                            </a>
                        </li>
                        <li class="nav-label color-primary">Meus anúncios</li>
                        <li>
                            <a style="color: #500B89 !important;" class="has-arrow" href="#" aria-expanded="false">
                                <img src="../icons/new.png" width="30px">
                                <span class="hide-menu">
                                    Cadastrar
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="doacoes_cadastro.html" aria-expanded="false">
                                        <img src="../icons/donation.png" width="30px">
                                        <span class="show-menu">Doação</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="petperdido_cadastro.html" aria-expanded="false">
                                        <img src="../icons/find.png" width="30px">
                                        <span class="show-menu">Pet perdido</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="petencontrado_cadastrar.html" aria-expanded="false">
                                        <img src="../icons/binoculars.png" width="30px">
                                        <span class="show-menu">Pet encontrado</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="anuncios_relatorio.html" aria-expanded="false">
                                <img src="../icons/list.png" width="30px">
                                <span class="show-menu">Visualizar</span>
                            </a>
                        </li>
                        <li class="nav-label color-primary">Minhas interações</li>
                        <li>
                            <a href="favoritos.html" aria-expanded="false">
                                <img src="../icons/heart.png" width="30px">
                                <span class="show-menu">Favoritos</span>
                            </a>
                        </li>
                        <li>
                            <a href="meus_interesses.html" aria-expanded="false">
                                <img src="../icons/house.png" width="30px">
                                <span class="show-menu">Anúncios</span>
                            </a>
                        </li>
                        <li style="position: absolute; bottom: 15px;">
                            <a href="../faq.html" target="_blank" aria-expanded="false">
                                <img src="../icons/faq.png" width="30px">
                                <span class="hide-menu">Perguntas frequentes</span>
                            </a>
                        </li>
                        <!--<li style="position: absolute; bottom: 15px;">
                        <a href="contribuir.html" aria-expanded="false">
                            <img src="../icons/donate_money.png" width="30px">
                            <span class="hide-menu">Quero contribuir</span>
                        </a>
                    </li>-->
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper" style="background-color: white;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Meus dados</h3>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <div ng-show="ctrl.Loading" class="col-12" style="text-align: center">
                    <img style="width:60px;" src="../images/loading.gif" />
                </div>
                <!-- Inputs edição -->
                <div ng-hide="ctrl.Loading">
                    <!--<div class="row">
                    <h4 class="text-primary">Dados básicos</h4>
                </div>-->
                    <div class="row" style="margin-top:20px;"></div>
                    <div class="row">
                        <div class="col-md-12" id="formFiltro">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-6" ng-class="{'has-error':ctrl.ErroNomeMeusDados}">
                                        <label class="color-primary">Nome</label>
                                        <input type="text" class="form-control" autocomplete="off" ng-model="ctrl.Nome">
                                        <small class="form-control-feedback" ng-show="ctrl.ErroNomeMeusDados">Nome inválido</small>
                                    </div>
                                    <div class="form-group col-md-6" ng-class="{'has-error':ctrl.ErroSobrenomeMeusDados}">
                                        <label class="color-primary">Sobrenome</label>
                                        <input type="text" class="form-control" autocomplete="off" ng-model="ctrl.Sobrenome">
                                        <small class="form-control-feedback" ng-show="ctrl.ErroSobrenomeMeusDados">Sobrenome inválido</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label class="color-primary">Sexo</label>
                                        <select class="form-control custom-select" autocomplete="off" ng-model="ctrl.Sexo">
                                            <option value="">Selecione</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2" ng-class="{'has-error':ctrl.ErroCpfCnpjMeusDados}">
                                        <label class="color-primary">CPF/CNPJ</label>
                                        <input type="text" class="form-control" ng-model="ctrl.CpfCnpj" ng-change="ctrl.SomenteNumero()" maxlength="14">
                                        <small class="form-control-feedback" ng-show="ctrl.ErroCpfCnpjMeusDados">Documento inválido</small>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="color-primary">Nascimento</label>
                                        <input type="date" class="form-control" autocomplete="off" ng-model="ctrl.DthNascimento" disabled>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="color-primary">E-mail</label>
                                        <input type="text" autocomplete="off" class="form-control" ng-model="ctrl.Email" disabled>
                                    </div>
                                    <div class="form-group col-md-2" ng-class="{'has-error':ctrl.ErroSenhaMeusDados}">
                                        <label class="color-primary">Senha</label>
                                        <input type="password" class="form-control" autocomplete="off" ng-model="ctrl.Senha">
                                        <small class="form-control-feedback" ng-show="ctrl.ErroSenhaMeusDadosPequena">A senha deve ter no mínimo 6 caracteres</small>
                                    </div>
                                    <div class="form-group col-md-2" ng-class="{'has-error':ctrl.ErroConfirmacaoSenhaMeusDados}">
                                        <label class="color-primary">Confirmar senha</label>
                                        <input type="password" class="form-control" autocomplete="off" ng-model="ctrl.ConfirmacaoSenha">
                                        <small class="form-control-feedback" ng-show="ctrl.ErroConfirmacaoSenhaMeusDados">A senha não é igual à do campo anterior</small>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-12" style="text-align: center;" ng-hide="ctrl.Atualizando">
                            <button class="btn btn-primary" ng-click="ctrl.AtualizarMeusDados()">Atualizar</button>
                        </div>
                        <div class="col-12" style="text-align: center" ng-show="ctrl.Atualizando">
                            <img style="width:40px;" src="../images/loading.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->

        <!-- Modal login sucesso -->
        <div class="modal" id="modalAlteracaoCadastroSucesso" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <img src="../icons/ok.png" style="width:150px">
                        <br /><br />
                        <span style="font-size: 24px">Cadastro editado com sucesso!</span>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Container fluid  -->
    <div ng-include="'fale_conosco.html'"></div>
    <!-- footer -->
    <div ng-include="'footer.html'"></div>
    <!-- End footer -->
    <!-- End Page wrapper  -->
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="../js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../js/custom.min.js"></script>
    <!--stickey kit -->
    <script src="../js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="../js/lib/datamap/d3.min.js"></script>
    <script src="../js/lib/datamap/topojson.js"></script>
    <script src="../js/lib/datamap/datamaps.world.min.js"></script>
    <script src="../js/lib/datamap/datamap-init.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="../js/controllers/app.js"></script>
    <script src="../js/controllers/base.js"></script>
    <script src="../js/controllers/meus_dados.js"></script>

</body>

</html>