<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- Google Analytics Homologação -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'FAQ',
                'page_path': '/faq'
            });
    </script>

    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'FAQ',
                'page_path': '/faq'
            });
    </script>-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">
    <title>PetSaver</title>
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link href="css/myStyle.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <style>
        .p {
            color: black !important;
        }
    </style>
</head>
<body class="fix-header fix-sidebar" ng-app="pets" ng-controller="indexController as ctrl" ng-init="ctrl.OnInit()" style="min-height: 100vh; display: flex; align-items: center">
    <div id="main-wrapper">
        <div class="unix-login">
            <div class="container">
                <div class="col-md-12" style="text-align: center; margin-bottom: 20px; margin-top: 1%;">
                    <img src="images/logos/logo_fundo_branco_fina.gif" style="width: 300px; max-width: 85%; cursor: pointer;"
                         onclick="document.location.href='home.html'">
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <p>
                            <br />Pergunta: Quem são vocês? Vocês são uma ONG ou algum tipo de associação?<br />
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: A PetSaver não é uma ONG, associação ou algo do tipo. Criamos a PetSaver para ser o maior e melhor canal digital no Brasil, voltado para adoção, doação e localização de Pet’s perdidos.
                        </p>
                        <p>
                            <br />Pergunta: Quanto custa para anunciar um Pet para Doação?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: Você não paga nada para anunciar seu Pet! Na PetSaver todos os serviços são 100% gratuitos.
                        </p>
                        <p>
                            <br />Pergunta: Quanto custa para adotar um Pet que está anunciado?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: Você não paga nada para adotar um Pet! Na PetSaver todos os serviços são 100% gratuitos.
                        </p>
                        <p>
                            <br />Pergunta: Perdi meu Pet e gostaria de usar os serviços da PetSaver. Tenho que pagar algo?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: Estamos juntos para ajudar você a encontrar seu Pet. Na PetSaver todos os serviços são 100% gratuitos.
                        </p>
                        <p>
                            <br />Pergunta: Olá, sou criador de Pet’s e quero anunciá-los para venda na PetSaver. Existe uma área específica para isso?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: A PetSaver é contra e repudia a venda de animais. Nosso foco é voltado para adoção, doação e localização de Pet’s perdidos. Se tiver algum pet para doação será um prazer ter você como nosso usuário.
                        </p>
                        <p>
                            <br />Pergunta: Resgatei um pet na rua e gostaria de saber se é possível deixa-lo com vocês, existe essa possibilidade?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: Quem bom saber que existem pessoas como você, disposta a ajudar um Pet! Parabéns, já somos seu fã. A PetSaver não possui um lugar ou abrigo destinado para manter os Pets. Utilize nossos serviços para cadastrar o Pet para doação, dessa forma teremos mais chances de encontrar um lar para ele(a).
                        </p>
                        <p>
                            <br />Pergunta: Vocês possuem alguma ajuda financeira ou investidor no projeto?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: A PetSaver é um projeto 100% mantido por seus idealizadores, sem nenhum tipo de apoio financeiro, aporte de capital ou ajuda institucional.
                        </p>
                        <!--<p>
                        <br />Pergunta: Que legal o trabalho da PetSaver! Posso ajudar o projeto com alguma doação e assim ajudar a manter o crescimento do projeto?
                    </p>
                    <p style="padding-left:10px; color:black;">
                        Resposta: É muito importante para a PetSaver saber que outras pessoas querem ajudar a manter nosso projeto. É muito fácil doar qualquer valor para a PetSaver, clique aqui: www.PetSaver.com.br/quero-ajudar
                    </p>
                    <p>
                        <br />Pergunta: Tenho um site e gostaria muito de ajudar a compartilhar o trabalho que realizam. O que posso fazer?
                    </p>-->
                        <p style="padding-left:10px; color:black;">
                            Resposta: É muito legal saber que existem pessoas interessadas a ajudar nossa causa. Para mais informações, clique no botão flutuante ao lado inferior direito da tela e nos envie uma mensagem.
                        </p>
                        <p>
                            <br />Pergunta: Posso usar os serviços da PetSaver em qualquer cidade?
                        </p>
                        <p style="padding-left:10px; color:black;">
                            Resposta: A PetSaver é uma tecnologia aberta para qualquer um e de qualquer lugar. Talvez não tenhamos ainda uma base de dados muito ativa na sua cidade, mas estamos crescendo dia a dia, e precisamos muito da sua ajuda para divulgar o que fazermos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <button id="buttonFaleConosco" class="btn btn-secondary" ng-click="ctrl.base.BtnFaleConoscoClick()">
            <img data-toggle="tooltip" title="Enviar uma mensagem para PetSaver" src="icons/talkwithus.png" width="30px">
        </button>

        <!-- Modal mensagem fale conosco -->
        <div class="modal fade" id="modalFaleConosco" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p class="color-primary">Olá Saver,</p>
                        <p class="color-primary">Sua opinião é muito importante pra gente.</p>
                        <p class="color-primary">Fique a vontade para nos enviar sua dúvida ou sugestão.</p>
                        <p class="color-primary">Vamos te responder o mais rápido possível.</p>
                        <div class="form-group" ng-class="{'has-error':ctrl.base.ErroEmailFaleConsco}" ng-hide="ctrl.base.IsLogged()">
                            <input type="email" class="form-control" placeholder="E-mail"
                                   style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.EmailFaleConosco">
                            <small class="form-control-feedback" ng-show="ctrl.base.ErroEmailFaleConsco">E-mail inválido</small>
                        </div>
                        <div class="form-group" ng-class="{'has-error':ctrl.base.ErroMensagemFaleConsco}">
                            <textarea class="form-control" style="height: 150px; border-radius: 5px;" ng-model="ctrl.base.MensagemFaleConosco" placeholder="Escreva sua mensagem aqui..."></textarea>
                            <small class="form-control-feedback" ng-show="ctrl.base.ErroMensagemFaleConsco">Mensagem inválida</small>
                        </div>
                        <br>
                        <span class="color-primary">#SouPetSaver</span>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.base.EnviarMensagemFaleConosco()" ng-disabled="ctrl.base.EnviandoFaleConosco">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal mensagem fale conosco sucesso -->
        <div class="modal fade" id="modalFaleConoscoSucesso" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="text-align:center">
                        <img src="icons/ok.png" style="width:150px">
                        <br /><br />
                        <span style="font-size: 24px">Sua mensagem foi enviada com sucesso!</span>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/index.js"></script>

</body>
</html>