<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="home.html">
            <img src="images/logos/logo_fundo_roxo_fina.gif"
                 height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="index.html" style="color: white">Quero adotar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger link" style="color: white" ng-click="ctrl.base.btnQueroDoar()">Quero doar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger link" style="color: white" ng-click="ctrl.base.btnPerdiPet()">Perdi meu pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger link" style="color: white" ng-click="ctrl.base.btnEncontreiPet()">Encontrei um pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="" ng-show="ctrl.isLogged">Minha conta</a>
                </li>
                <li class="nav-item">
                    <button ng-hide="ctrl.base.IsLogged()" ng-click="ctrl.base.AbrirModalLogin()" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalLogarCadastrar">Entrar</button>
                    <button ng-show="ctrl.base.IsLogged()" type="button" class="btn btn-secondary" onclick="location.href = 'conta/dashboard.html';">Minha conta</button>
                </li>
                <li class="nav-item" ng-show="ctrl.base.IsLogged()">
                    <a class="nav-link js-scroll-trigger link" style="color: white" ng-click="ctrl.base.FazerLogoff()">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>