<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'Home',
                'page_path': '/home'
            });
    </script>

    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'Home',
                'page_path': '/home'
            });
    </script> -->

    <meta name="theme-color" content="#500B89">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">

    <title>PetSaver</title>

    <!-- Bootstrap core CSS -->
    <link href="homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="homepage/css/scrolling-nav.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">

    <style>
        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none !important;
        }
    </style>

</head>

<body id="page-top" style="font-family: 'Work Sans', sans-serif;" ng-app="pets" ng-controller="homeController as ctrl" ng-init="ctrl.OnInit()">

    <div ng-include="'header.html'"></div>

    <header id="header" class="text-white" style="background-image: url('images/header1.jpg'); height: 844px; display: flex; align-items: center; background-position: center;">
        <div class="container">
            <div class="col-md-6">
                <h1 style="color: white">unidos podemos salvar a vida de milhões de pets</h1>
                <br><br><br>
                <button type="submit" class="btn btn-primary btn-lg" style="border: none" id="btnSaibaMais">Saiba mais</button>
            </div>
        </div>
    </header>

    <section id="servicos" style="min-height: 100vh; display: flex; align-items: center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center color-primary">O que fazemos</h2>
                    <div class="row" style="text-align: center">
                        <div class="col-md-4" style="margin-top: 30px">
                            <img src="homepage/icons/adoption.png" width="96px" style="display: inline; text-align: center">
                            <h5 style="margin-top: 5px">adoção</h5>
                            <small id="emailHelp" class="form-text text-muted">ofereça um lar para um novo amigo</small>
                            <h6 class="btn btn-secondary" style="margin-top: 10px" ng-hide="ctrl.isLogged" data-toggle="modal"
                                data-target="#modalSaibaMaisAdocao">
                                Saiba mais
                            </h6>

                            <div class="modal fade" id="modalSaibaMaisAdocao" tabindex="-1"  role="dialog" aria-hidden="true" style="padding-top: 55% !important">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content modal">
                                        <div class="modal-body">
                                            <img style="width: 100%" src="images/como_funciona/adocao/1.png" />
                                            <a href="index.html"><img style="width: 100%" src="images/como_funciona/adocao/2.png" /></a>
                                            <img style="width: 100%" src="images/como_funciona/adocao/3.png" />
                                            <img style="width: 100%" src="images/como_funciona/adocao/4.png" />
                                            <img style="width: 100%" src="images/como_funciona/adocao/5.png" />
                                            <img style="width: 100%" src="images/como_funciona/adocao/6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <img src="homepage/icons/donation.png" width="96px">
                            <h5 style="margin-top: 5px">doação</h5>
                            <small id="emailHelp" class="form-text text-muted">encontre um lar para ele</small>
                            <h6 class="btn btn-secondary" style="margin-top: 10px" ng-hide="ctrl.isLogged" data-toggle="modal"
                                data-target="#modalSaibaMaisDoacao">
                                Saiba mais
                            </h6>
                            <div class="modal fade" id="modalSaibaMaisDoacao" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 55% !important">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="padding: 1%">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img style="width: 100%" src="images/como_funciona/doacao/1.png" />
                                            <img style="width: 100%" src="images/como_funciona/doacao/2.png" />
                                            <img style="width: 100%" src="images/como_funciona/doacao/3.png" />
                                            <img style="width: 100%" src="images/como_funciona/doacao/4.png" />
                                            <img style="width: 100%" src="images/como_funciona/doacao/5.png" />
                                            <img style="width: 100%" src="images/como_funciona/doacao/6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-top: 30px">
                            <img src="homepage/icons/lost.png" width="96px">
                            <h5 style="margin-top: 5px">pet perdido</h5>
                            <small id="emailHelp" class="form-text text-muted">perdeu seu pet? conte com a gente</small>
                            <h6 class="btn btn-secondary" style="margin-top: 10px" ng-hide="ctrl.isLogged" data-toggle="modal"
                                data-target="#modalSaibaMaisPetPerdido">
                                Saiba mais
                            </h6>
                            <div class="modal fade" id="modalSaibaMaisPetPerdido" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top: 55% !important">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="padding: 1%">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/1.png" />
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/2.png" />
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/3.png" />
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/4.png" />
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/5.png" />
                                            <img style="width: 100%" src="images/como_funciona/pet_perdido/6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: center; margin-top: 40px">
                            <button type="submit" class="btn btn-primary" style="width: 150px; height: 50px; outline: none;" id="btnPorque">
                                Por
                                que?
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="porque" class="bg-light align-items-center" style="height: 100vh; display: flex; align-items: center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="text-center color-primary" ">Por que adotar?</h2>
                    <div class="row" style="text-align: center">
                        <div class="col-md-4" style="margin-top: 60px">
                            <!-- <img src="icons/adoption.png" width="96px"> -->
                            <!-- <i class="fas fa-heart fa-8x" style="color:#500b89"></i> -->
                            <h1>20 milhões</h1>
                            <h5>de cães sem lar no Brasil</h5>
                        </div>
                        <div class="col-md-4" style="margin-top: 60px">
                            <!-- <img src="icons/adoption.png" width="96px"> -->
                            <!-- <i class="fas fa-heart fa-8x" style="color:#500b89"></i> -->
                            <h1>10 milhões</h1>
                            <h5>de gatos abandonados no país</h5>
                        </div>
                        <div class="col-md-4" style="margin-top: 60px">
                            <!-- <img src="icons/adoption.png" width="96px"> -->
                            <!-- <i class="fas fa-heart fa-8x" style="color:#500b89"></i> -->
                            <h1>23%</h1>
                            <h5>dos animais domésticos estão abandonados</h5>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align: center; margin-top: 40px">
                        <button type="submit" class="btn btn-primary" style="width: 150px; height: 50px; outline: none;" id="btnComecar">
                            Vamos
                            juntos?
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pets" style="min-height: 100vh; display: flex; align-items: center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center color-primary" ">Seu melhor amigo pode estar aqui</h2>
                    <div class="row col-md-12" style="margin: 0; padding: 0">
                        <div class="col-md-3 col-xs-12 adBox" ng-class="{'adBoxHover': adBoxHover}" ng-repeat="x in ctrl.Anuncios"
                             ng-style="style" ng-mouseenter="adBoxHover = true;" ng-mouseleave="adBoxHover = false;" ng-click="ctrl.base.AbrirAnuncio(x.IdAnuncio)" onclick="document.location.href='pet.html'">
                            <div style="height: 175px">
                                <img ng-class="{'imgAdBox': !adBoxHover, 'imgAdBoxHover': adBoxHover}" src="{{x.Foto}}">
                            </div>
                            <div class="col-md-12 text-center" style="margin-top:15px;">
                                <h2 class="color-primary" style="height: 70px">{{x.Nome}}</h2>
                                <p><img src="icons/gender.png" width="25px">{{x.Sexo}} <img src="icons/size.png" width="25px">{{x.Idade}}</p>
                                <p><img src="icons/location.png" width="25px">{{x.Localizacao}}</p>
                                <span ng-class="{'badge-danger': x.Tipo == 'Pet perdido', 'badge-success': x.Tipo == 'Pet encontrado', 'badge-primary': x.Tipo == 'Doação'}" class="badge" ng-hide="adBoxHover" style="font-size: 16px">{{x.Tipo}}</span>
                                <button ng-show="adBoxHover" class="btn btn-primary">conhecer pet</button>
                            </div>
                        </div>
                    </div>
                    <!-- end pets -->
                    <div class="col-md-12" style="text-align: center; margin-top: 40px">
                        <button type="submit" class="btn btn-primary" style="width: 160px; height: 50px; outline: none;" id="btnBuscar">
                            Perfeito
                            pra você
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="buscar" style="background-image: url('homepage/icons/gray_paws.png'); height: 100vh; display: flex; align-items: center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-md-12" style="background-color: rgba(255, 255, 255, 0.95); padding:40px">
                    <h2 class="text-center color-primary" ">Encontre seu amigo</h2>
                    <form>
                        <div class="row" style="margin-top: 60px">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Estado</label>
                                <select class="form-control" style="height: 50px;" ng-model="ctrl.Estado" ng-change="ctrl.EstadoSelecionadoChange()">
                                    <option value="">Todos</option>
                                    <option ng-repeat="x in ctrl.Estados" value="{{x.Chave}}">{{x.Valor}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Cidade</label>
                                <select class="form-control" style="height: 50px;" ng-model="ctrl.Cidade">
                                    <option value="">Todas</option>
                                    <option ng-repeat="x in ctrl.Cidades" value="{{x.Chave}}">{{x.Valor}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Pet</label>
                                <select class="form-control" style="height: 50px;" ng-model="ctrl.Animal">
                                    <option value="">Todos</option>
                                    <option ng-repeat="x in ctrl.Animais" value="{{x.Chave}}">{{x.Valor}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="exampleInputEmail1">Sexo</label>
                                <select class="form-control" style="height: 50px;" ng-model="ctrl.Sexo">
                                    <option value="">Todos</option>
                                    <option ng-repeat="x in ctrl.Sexos" value="{{x.Chave}}">{{x.Valor}}</option>
                                </select>
                            </div>
                            <div class="col-md-12" style="text-align: center; margin-top: 60px">
                                <button type="button" class="btn btn-primary" style="width: 150px; height: 50px" ng-click="ctrl.BuscarAnuncios()">Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div ng-include="'login.html'"></div>

    <!-- Footer -->
    <div ng-include="'rodape.html'"></div>

    <!-- Bootstrap core JavaScript -->
    <script src="homepage/vendor/jquery/jquery.min.js"></script>
    <script src="homepage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="homepage/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="homepage/js/scrolling-nav.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/home.js"></script>

    <script>
        $("#btnSaibaMais").click(function () {
            $('html,body').animate({
                scrollTop: $("#servicos").offset().top - 20
            },
                'slow');
        });

        $("#btnPorque").click(function () {
            $('html,body').animate({
                scrollTop: $("#porque").offset().top - 20
            },
                'slow');
        });

        $("#btnComecar").click(function () {
            $('html,body').animate({
                scrollTop: $("#pets").offset().top - 20
            },
                'slow');
        });

        $("#btnBuscar").click(function () {
            $('html,body').animate({
                scrollTop: $("#buscar").offset().top - 20
            },
                'slow');
        });


    </script>

</body>

</html>