<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">

    <title>PetSaver</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar mini-sidebar" ng-app="pets" ng-controller="indexController as ctrl" ng-init="ctrl.OnInit()">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="home.html">
                <img src="images/logos/logo_fundo_roxo_fina.gif"
                     height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Quero adotar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="conta/doacoes_cadastro.html">Quero doar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Perdi meu pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Encontrei um pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="" ng-show="ctrl.isLogged">Minha conta</a>
                    </li>
                    <li class="nav-item">
                        <button ng-hide="ctrl.base.IsLogged()" ng-click="ctrl.base.AbrirModalLogin()" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalLogarCadastrar">Entrar</button>
                        <button ng-show="ctrl.base.IsLogged()" type="button" class="btn btn-secondary" onclick="location.href = 'conta/dashboard.html';">Minha conta</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    8
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper" style="margin-top: 100px">
        <div class="container-fluid">
            <div class="container">
                <!-- filter -->
                <div class="col-md-12" style="text-align: center;">
                    <h1>
                        Filtros
                        <img ng-show="ctrl.closedFilter" src="icons/minus.png" width="35px" style="cursor: pointer;"
                             data-toggle="collapse" data-target="#formFiltro" aria-expanded="false" aria-controls="formFiltro"
                             ng-click="ctrl.closedFilter = false;">
                        <img ng-show="!ctrl.closedFilter" src="icons/plus.png" width="35px" style="cursor: pointer;"
                             data-toggle="collapse" data-target="#formFiltro" aria-expanded="false" aria-controls="formFiltro"
                             ng-click="ctrl.closedFilter = true;">
                    </h1>
                    <div class="collapse" id="formFiltro">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Estado</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Estado" ng-change="ctrl.EstadoSelecionadoChange()">
                                        <option value="">Todos</option>
                                        <option ng-repeat="x in ctrl.Estados" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cidade</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Cidade">
                                        <option value="">Todas</option>
                                        <option ng-repeat="x in ctrl.Cidades" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Animal</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Animal" ng-change="ctrl.AnimalSelecionadoChange()">
                                        <option value="">Todos</option>
                                        <option ng-repeat="x in ctrl.Animais" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Nome</label>
                                    <input type="text" maxlength="30" class="form-control" ng-model="ctrl.Nome">
                                </div>
                            </div>
                            <div ng-show="ctrl.Animal != '' && ctrl.Animal != null">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Sexo</label>
                                        <select class="form-control custom-select">
                                            <option>Todos</option>
                                            <option>Macho</option>
                                            <option>Fêmea</option>
                                        </select>

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>{{ctrl.LabelRacaEspecie}}</label>
                                        <select class="form-control custom-select">
                                            <option>Todos</option>
                                            <option>labrador</option>
                                            <option>Outros</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Pelo</label>
                                        <select class="form-control custom-select">
                                            <option value="1">Todos</option>
                                            <option value="2">Curto</option>
                                            <option value="3">Médio</option>
                                            <option value="4">Longo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Idade</label>
                                        <select class="form-control custom-select">
                                            <option value="1">Todas</option>
                                            <option value="2">Recém nascido</option>
                                            <option value="3">Filhote</option>
                                            <option value="4">Adulto</option>
                                            <option value="0">Não sei</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Cor</label>
                                        <select class="form-control custom-select">
                                            <option value="1">Todas</option>
                                            <option value="2">branco</option>
                                            <option value="3">preto</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Porte</label>
                                        <select class="form-control custom-select">
                                            <option>Todos</option>
                                            <option>Pequeno</option>
                                            <option>Médio</option>
                                            <option>Grande</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end filter -->
                <!-- pets -->
                <div class="row col-md-12" style="margin: 0; padding: 0">
                    <div class="col-md-3 col-xs-12 adBox" ng-class="{'adBoxHover': adBoxHover}" ng-repeat="x in ctrl.Anuncios"
                         ng-style="style" ng-mouseenter="adBoxHover = true;" ng-mouseleave="adBoxHover = false;" ng-click="ctrl.base.AbrirAnuncio(x.IdAnuncio)" onclick="document.location.href='pet.html'">
                        <img ng-class="{'imgAdBox': !adBoxHover, 'imgAdBoxHover': adBoxHover}" src="https://dl5zpyw5k3jeb.cloudfront.net/photos/pets/42965742/1/?bust=1539040557">
                        <div class="col-md-12 text-center" style="margin-top:15px;">
                            <h2 class="color-primary" style="height: 70px">{{x.Nome}}</h2>
                            <p><img src="icons/gender.png" width="25px">{{x.Sexo}} <img src="icons/size.png" width="25px">{{x.Idade}}</p>
                            <p><img src="icons/location.png" width="25px">{{x.Localizacao}}</p>
                            <button ng-show="adBoxHover" class="btn btn-primary">Conhecer pet</button>
                        </div>
                    </div>
                </div>
                <!-- end pets -->
            </div>
        </div>
    </div>
    
    <div ng-include="'login.html'"></div>

    <div ng-include="'rodape.html'"></div>

    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/index.js" charset="ISO-8859-1"></script>

</body>

</html>