<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'Anuncios',
                'page_path': '/index'
            });
    </script>

    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'Anuncios',
                'page_path': '/index'
            });
    </script> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">

    <title>PetSaver</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar mini-sidebar" ng-app="pets" ng-controller="indexController as ctrl" ng-init="ctrl.OnInit()">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="home.html">
                <img src="images/logos/logo_fundo_roxo_fina.gif"
                     height="40px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Quero adotar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="conta/doacoes_cadastro.html">Quero doar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Perdi meu pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">Encontrei um pet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="" ng-show="ctrl.isLogged">Minha conta</a>
                    </li>
                    <li class="nav-item">
                        <button ng-hide="ctrl.base.IsLogged()" ng-click="ctrl.base.AbrirModalLogin()" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalLogarCadastrar">Entrar</button>
                        <button ng-show="ctrl.base.IsLogged()" type="button" class="btn btn-secondary" onclick="location.href = 'conta/dashboard.html';">Minha conta</button>
                    </li>
                    <li class="nav-item" ng-show="ctrl.base.IsLogged()">
                        <a class="nav-link js-scroll-trigger link" ng-click="ctrl.base.FazerLogoff()">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    8
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper" style="margin-top: 100px">
        <div class="container-fluid">
            <div class="container">
                <div class="col-md-12" style="text-align: center; margin-bottom: 25px">
                    <!--<h1 class="color-primary">Pets perdidos</h1>-->
                    <select class="btn btn-primary" style="font-size: 24px; text-align-last: center" ng-model="ctrl.TipoAnuncio" ng-change="ctrl.AplicarFiltros()">
                        <option value="">Todos</option>
                        <option value="1">Doações</option>
                        <option value="3">Pets encontrados</option>
                        <option value="2">Pets perdidos</option>
                    </select>
                </div>
                <!-- filter -->
                <div class="col-md-12" style="text-align: center;">
                    <h2>
                        Filtros
                        <img ng-show="ctrl.closedFilter" src="icons/minus.png" width="35px" style="cursor: pointer;"
                             data-toggle="collapse" data-target="#formFiltro" aria-expanded="false" aria-controls="formFiltro"
                             ng-click="ctrl.closedFilter = false;">
                        <img ng-show="!ctrl.closedFilter" src="icons/plus.png" width="35px" style="cursor: pointer;"
                             data-toggle="collapse" data-target="#formFiltro" aria-expanded="false" aria-controls="formFiltro"
                             ng-click="ctrl.closedFilter = true;">
                    </h2>
                    <div class="collapse" id="formFiltro">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Estado</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Estado" ng-change="ctrl.EstadoSelecionadoChange()">
                                        <option value="">Todos</option>
                                        <option ng-repeat="x in ctrl.Estados" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Cidade</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Cidade">
                                        <option value="">Todas</option>
                                        <option ng-repeat="x in ctrl.Cidades" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Animal</label>
                                    <select class="form-control custom-select" ng-model="ctrl.Animal" ng-change="ctrl.AnimalSelecionadoChange()">
                                        <option value="">Todos</option>
                                        <option ng-repeat="x in ctrl.Animais" value="{{x.Chave}}">{{x.Valor}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Nome</label>
                                    <input type="text" maxlength="30" class="form-control" ng-model="ctrl.Nome">
                                </div>
                            </div>
                            <div ng-show="ctrl.Animal != '' && ctrl.Animal != null">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Sexo</label>
                                        <select class="form-control custom-select" ng-model="ctrl.Sexo">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.Sexos" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>{{ctrl.LabelRacaEspecie}}</label>
                                        <select class="form-control custom-select" ng-model="ctrl.RacaEspecie">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.RacasEspecies" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Pelo</label>
                                        <select class="form-control custom-select" ng-model="ctrl.Pelo">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.Pelos" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Idade</label>
                                        <select class="form-control custom-select" ng-model="ctrl.Idade">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.Idades" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Cor</label>
                                        <select class="form-control custom-select" ng-model="ctrl.Cor">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.Cores" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Porte</label>
                                        <select class="form-control custom-select" ng-model="ctrl.Porte">
                                            <option value="">Todos</option>
                                            <option ng-repeat="x in ctrl.Portes" value="{{x.Chave}}">{{x.Valor}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-md-12" style="text-align: right">
                                    <span class="color-primary link" style="font-weight: bold" ng-click="ctrl.LimparFiltros()">Limpar filtros</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-secondary col-12" ng-click="ctrl.AplicarFiltros()">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end filter -->
                <!-- pets -->
                <div class="row col-md-12" style="margin: 0; padding: 0" when-scrolled="ctrl.Teste()">
                    <div class="col-md-3 col-xs-12 adBox" ng-class="{'adBoxHover': adBoxHover}" ng-repeat="x in ctrl.Anuncios"
                         ng-style="style" ng-mouseenter="adBoxHover = true;" ng-mouseleave="adBoxHover = false;" ng-click="ctrl.base.AbrirAnuncio(x.IdAnuncio)" onclick="document.location.href='pet.html'">
                        <div style="height: 175px">
                            <img ng-class="{'imgAdBox': !adBoxHover, 'imgAdBoxHover': adBoxHover}" src="{{x.Foto}}">
                        </div>
                        <div class="col-md-12 text-center" style="margin-top:15px;">
                            <h2 class="color-primary" style="height: 70px">{{x.Nome}}</h2>
                            <p><img src="icons/gender.png" width="25px">{{x.Sexo}} <img src="icons/size.png" width="25px">{{x.Idade}}</p>
                            <p><img src="icons/location.png" width="25px">{{x.Localizacao}}</p>
                            <span ng-class="{'badge-danger': x.Tipo == 'Pet perdido', 'badge-success': x.Tipo == 'Pet encontrado', 'badge-primary': x.Tipo == 'Doação'}" class="badge" ng-hide="adBoxHover" style="font-size: 16px">{{x.Tipo}}</span>
                            <button ng-show="adBoxHover" class="btn btn-primary">conhecer pet</button>
                        </div>
                    </div>
                </div>
                <div ng-show="ctrl.Buscando" class="col-md-12" style="text-align: center; margin-top: 30px">
                    <img style="width:100px;" src="images/loading.gif" />
                </div>
                <div ng-show="(!ctrl.Anuncios || ctrl.Anuncios.length == 0) && !ctrl.Buscando" class="col-md-12" style="text-align: center; margin-top: 35px">
                    <p class="color-primary" style="font-size:24px">Que pena, não encontramos nenhum pet</p>
                    <p class="color-primary" style="font-size:24px">Caso queira cadastrar um, selecione uma das opções abaixo</p>
                    <div class="row" style="margin-top: 35px">
                        <div class="col-md-4">
                            <img class="link" src="icons/donation.png" style="width: 96px" ng-click="ctrl.CadastrarAnuncio('doacao')" />
                            <p class="color-primary link" ng-click="ctrl.CadastrarAnuncio('doacao')">Doação</p>
                        </div>
                        <div class="col-md-4">
                            <img class="link" src="icons/find.png" style="width: 96px" ng-click="ctrl.CadastrarAnuncio('petPerdido')" />
                            <p class="color-primary link" ng-click="ctrl.CadastrarAnuncio('petPerdido')">Pet perdido</p>
                        </div>
                        <div class="col-md-4">
                            <img class="link" src="icons/lost.png" style="width: 96px" ng-click="ctrl.CadastrarAnuncio('petEncontrado')" />
                            <p class="color-primary link" ng-click="ctrl.CadastrarAnuncio('petEncontrado')">Pet encontrado</p>
                        </div>
                    </div>
                </div>
                <!-- end pets -->
            </div>
        </div>
    </div>

    <div ng-include="'login.html'"></div>

    <div ng-include="'rodape.html'"></div>

    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/index.js"></script>

    <script>

        window.onscroll = function () { myFunction() };

        function myFunction() {

            var scrollPosition = window.pageYOffset;
            var windowSize = window.innerHeight;
            var bodyHeight = document.body.offsetHeight;

            var distancia = Math.max(bodyHeight - (scrollPosition + windowSize), 0);

            if (distancia <= 75) {
                angular.element('body').controller().CarregarProximaPagina();
            }

        }

    </script>

</body>

</html>