<div id="main-wrapper">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row">
                <div class="modal fade" id="modalLogarCadastrar" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body modal-lg">
                                <div class="col-md-12 login-form" ng-hide="ctrl.base.isRegister">
                                    <div class="col-md-12" style="text-align: center; margin-bottom: 20px; margin-top: 1%;">
                                        <img src="images/logos/logo_fundo_branco_fina.gif" style="width: 100%; max-width: 85%; cursor: pointer;"
                                             onclick="document.location.href='home.html'">
                                    </div>
                                    <form autocomplete="off">
                                        <div class="form-group" ng-class="{'has-error':ctrl.base.ErroEmailLogin}">
                                            <input type="email" class="form-control" placeholder="E-mail"
                                                   style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.EmailLogin">
                                            <small class="form-control-feedback" ng-show="ctrl.base.ErroEmailLogin">E-mail inválido</small>
                                        </div>
                                        <div class="form-group" ng-class="{'has-error':ctrl.base.ErroSenhaLogin}">
                                            <input type="password" class="form-control" placeholder="Senha"
                                                   style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.SenhaLogin">
                                            <small class="form-control-feedback" ng-show="ctrl.base.ErroSenhaLogin">Senha inválida</small>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-flat m-b-20 m-t-10"
                                                style="background-color: #500b89" ng-click="ctrl.base.FazerLogin()" ng-hide="ctrl.base.Logando">
                                            Entrar
                                        </button>
                                        <div class="col-12" style="text-align: center">
                                            <img style="width:40px;" src="images/loading.gif" ng-show="ctrl.base.Logando" />
                                        </div>
                                        <div class="checkbox">
                                            <label class="pull-right" style="color: #500b89 !important">
                                                Esqueceu
                                                a senha?
                                            </label>
                                        </div>
                                        <!--<hr>

                                        <button type="button" class="btn btn-primary btn-flat m-b-10 m-t-20"
                                                style="background-color: #3B5998 !important">
                                            <i class="fab fa-facebook-f"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-flat m-b-10 m-t-10"
                                                style="background-color: #D44C3D !important">
                                            <i class="fab fa-google"></i>
                                        </button>
                                        -->
                                        <div class="row">
                                            <div class="checkbox col-md-12 text-center">
                                                <br>
                                                <label style="color: #500b89 !important; cursor: pointer;"
                                                       ng-click="ctrl.base.isRegister = true">Cadastre-se</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12 login-form" style="padding-top: 1% !important" ng-show="ctrl.base.isRegister">
                                    <div class="col-md-12" style="text-align: center; margin-bottom: 20px; margin-top: 5%;">
                                        <img src="images/logos/logo_fundo_branco_fina.gif" style="width: 300px; max-width: 85%; cursor: pointer;"
                                             onclick="document.location.href='home.html'">
                                        <!--TODO: Alterar o onclick para apenas fechar o modal-->
                                    </div>
                                    <form autocomplete="off">
                                        <div class="row">
                                            <div class="col-md-12 form-group" ng-class="{'has-error':ctrl.base.ErroNomeCadastro}">
                                                <input type="text" class="form-control" placeholder="Nome"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.NomeCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroNomeCadastro">Nome inválido</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroSobrenomeCadastro}">
                                                <input type="text" class="form-control" placeholder="Sobrenome"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.SobrenomeCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroSobrenomeCadastro">Sobrenome inválido</small>
                                            </div>
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroDthNascimentoCadastro}">
                                                <input type="date" class="form-control dateclass placeholderclass" placeholder="Nascimento"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.DthNascimentoCadastro" onClick="$(this).removeClass('placeholderclass')">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroDthNascimentoCadastro">Data de nascimento inválida</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroEmailCadastro}">
                                                <input type="text" class="form-control" placeholder="E-mail"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.EmailCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroEmailCadastro1">E-mail inválido</small>
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroEmailCadastroExistente">E-mail já cadastrado</small>
                                            </div>
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroConfirmacaoEmailCadastro}">
                                                <input type="text" class="form-control" placeholder="Confirme seu e-mail"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.ConfirmacaoEmailCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroConfirmacaoEmailCadastro">O e-mail não é igual ao do campo anterior</small>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroSenhaCadastro}">
                                                <input type="password" class="form-control" placeholder="Senha"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.SenhaCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroSenhaCadastroVazia">Senha inválida</small>
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroSenhaCadastroPequena">A senha deve ter no mínimo 8 caracteres</small>
                                            </div>
                                            <div class="col-md-6 form-group" ng-class="{'has-error':ctrl.base.ErroConfirmacaoSenhaCadastro}">
                                                <input type="password" class="form-control" placeholder="Confirme sua senha"
                                                       style="border-radius: 8px" autocomplete="off" ng-model="ctrl.base.ConfirmacaoSenhaCadastro">
                                                <small class="form-control-feedback" ng-show="ctrl.base.ErroConfirmacaoSenhaCadastro">A senha não é igual à do campo anterior</small>
                                            </div>
                                        </div>
                                        <div style="text-align: center">
                                            <div class="checkbox col-md-12 text-center" style="width:100%; margin-top: 20px !important; margin-bottom: 30px !important">
                                                <input type="checkbox" ng-model="ctrl.base.AceitoCadastro">
                                                <a href="termo_uso.html" target="_blank">
                                                    <label style="color: #500b89 !important; cursor: pointer;">
                                                        Aceito os termos de uso
                                                    </label>
                                                </a>
                                            </div>
                                            <button type="button" class="btn btn-primary" style="background-color: #500b89" ng-disabled="!ctrl.base.AceitoCadastro" ng-click="ctrl.base.FazerCadastroBasico()" ng-show="!ctrl.base.Cadastrando">Cadastrar</button>
                                            <div class="col-12" style="text-align: center">
                                                <img style="width:40px;" src="images/loading.gif" ng-show="ctrl.base.Cadastrando" />
                                            </div>
                                        </div>
                                        <!-- <hr>-->
                                        <!--
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" style="margin-bottom:5px; background-color: #3B5998 !important">
                    <i class="fab fa-facebook-f"></i>
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" style="background-color: #D44C3D !important">
                    <i class="fab fa-google"></i>
                </button>
            </div>
        </div>
        -->
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

<!-- Modal login sucesso -->
<div class="modal fade" id="modalLoginRealizado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <img src="icons/ok.png" style="width:150px">
                <br /><br />
                <span style="font-size: 24px">Olá {{ctrl.base.NomeUsuario}}, que bom ter você aqui novamente!</span>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal erro -->
<div class="modal fade" id="modalErroLogin" tabindex="-1" role="dialog" aria-hidden="true" style="">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <img src="icons/close.png" style="width:150px">
                <br /><br />
                <span style="font-size: 24px">Login não encontrado</span>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cadastro sucesso -->
<div class="modal fade" id="modalCadastroRealizado" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <span style="font-size: 24px">Olá {{ctrl.base.getNomeUsuario()}}, que bom saber que agora você é um Saver!</span>
                <br /><br />
                <span style="font-size: 24px">Como recompensa, vamos te dar sua primeira avaliação.</span>
                <br /><br />
                <img src="icons/paw.png" style="width:30px; margin: 5px;">
                <img src="icons/paw.png" style="width:30px; margin: 5px;">
                <img src="icons/paw.png" style="width:30px; margin: 5px;">
                <img src="icons/paw.png" style="width:30px; margin: 5px;">
                <img src="icons/paw.png" style="width:30px; margin: 5px;">
                <br /><br />
                <span style="font-size: 24px">Você poderá avaliar e receber avaliações de outros usuários a partir da sua primeira interação.</span>
                <br /><br />
                <span style="font-size: 24px">#SouPetSaver</span>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>