<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'Maintenance',
                'page_path': '/maintenance'
            });
    </script>
    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'Maintenance',
                'page_path': '/maintenance'
            });
    </script>-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">
    <title>PetSaver</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <style>
        a:active {
            color: #500b89 !important;
        }
    </style>

</head>

<body class="fix-header fix-sidebar" ng-app="pets" ng-controller="maintenanceController as ctrl" style="background-color: #500b89; min-height: 100vh; display: flex; align-items: center">

    <!-- ng-app="pets" ng-controller="maintenanceController" -->

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-bottom: 20px; margin-top: 50px">
                <img src="images/logos/logo_fundo_roxo_fina.gif" style="width: 500px; max-width: 85%;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1 style="font-size: 25px; color: rgb(227, 222, 231)">
                    unidos podemos salvar a vida de milhões de pets
                    ;)
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-top: 50px">
                <h1 style="font-size: 30px; color: rgb(227, 222, 231)">Lançamento em 15 de dezembro 2018!</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-12" style="text-align: center; margin-bottom: 5px; margin-top: 5px;">
                <h1 style="font-size: 26px; color: rgb(227, 222, 231)">Cadastre-se para ser um Saver e nos conheça melhor!</h1>
            </div>
        </div>
        <div class="row" style="margin-bottom: 50px">
            <div class="col-md-12" style="text-align: center; margin-bottom: 25px; margin-top: 25px;">
                <button ng-hide="ctrl.base.IsLogged()" class="btn btn-secondary" style="height: 50px; font-weight: bold; width: 200px" ng-click="ctrl.base.AbrirModalLogin()" data-toggle="modal" data-target="#modalLogarCadastrar">Entrar / Cadastrar</button>
                <button ng-show="ctrl.base.IsLogged()" class="btn btn-secondary" style="height: 50px; font-weight: bold; width: 200px" ng-click="ctrl.MinhaConta()">Acessar minha conta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-bottom: 5px; margin-top: 5px;">
                <div class="col-md-12">
                    <a href="https://www.facebook.com/soupetsaver/" target="_blank">
                        <img style="height: 75px; text-align: center" src="icons/facebook.png">
                    </a>
                    <a href="https://www.instagram.com/soupetsaver/" target="_blank">
                        <img style="height: 75px; text-align: center" src="icons/instagram.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center; margin-bottom: 1px; margin-top: 1px;">
                <h3 style="color: white !important">#SouPetSaver</h3>
            </div>
        </div>

        <div ng-include="'login.html'"></div>

    </div>

    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>

    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/maintenance.js"></script>

</body>

</html>