<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'Pet',
                'page_path': '/pet'
            });
    </script>
    <script>
        $(document).ready(function () {
            //store nodepath value to clipboard	(copy to top of page)
            $('li').live('click', function () {
                //console.log($('#pathtonode').html()+ " copied to window");
                var path = $('#pathtonode').html();
                path = path.replace(/ &gt; /g, ".");
                //console.log(path);
                addtoppath(path);
            });

            $(function () {
                $("#copiar").on("click", function () {
                    $("#link").text($("#paraCopiar").text());
                    var url = window.location.href;
                });
            });

    </script>


    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'Pet',
                'page_path': '/pet'
            });
    </script> -->

    <meta name="theme-color" content="#500B89">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_pata.ico">

    <title>PetSaver</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/helper.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <style>
        #buttonGostei {
            width: 50px;
            height: 50px;
            position: fixed;
            z-index: 999;
            right: 35px;
            bottom: 35px;
            border-radius: 100%;
            text-align: center;
            padding: 0;
            margin: 0;
        }
    </style>

    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar mini-sidebar" ng-app="pets" ng-controller="petController as ctrl" ng-init="ctrl.OnInit()">

    <div ng-include="'header.html'"></div>

    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <!-- Modal erro -->
    <div class="modal fade" id="modalImagemDestaque" tabindex="-1" role="dialog" aria-hidden="true" style="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center">
                    <img src="{{ctrl.FotoDestaque.Valor}}" style="width:100%">
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main wrapper  -->
    <div id="main-wrapper" style="margin-top: 85px">
        <div class="container-fluid">
            <div class="container" ng-hide="ctrl.notFound">
                <div class="row" style="margin-bottom: 25px">
                    <div class="col-md-4" style="margin-top: 25px">
                        <div class="col-md-12 bigImage">
                            <img class="imgPetOpened" src="{{ctrl.FotoDestaque.Valor}}" ng-click="ctrl.ExpandirImagemDestaque()">
                        </div>
                        <div class="col-md-12 smallImages">
                            <div class="row justify-content-center">
                                <div class="col-md-4 col-4" ng-repeat="x in ctrl.Fotos">
                                    <img class="imgPetClosed" src="{{x.Valor}}" ng-click="ctrl.AbrirImagem(x.Valor)">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: center; margin-bottom: 25px; padding-top: 20px">
                            <h2 class="color-primary" style="font-style:italic">{{ctrl.TipoAnuncio}}</h2>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px; padding: 0px;">
                            <button class="btn btn-primary" style="width: 100%; height: 50px;" ng-click="ctrl.BtnInteresse()" ng-disabled="ctrl.AcoesDisabled()">
                                {{ctrl.btnInteresseText}}
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="modalQueroAdotar" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div ng-show="ctrl.TipoAnuncio == 'Doação'">
                                                Ficamos muito felizes em saber que você quer oferecer um lar ao nosso amigo!
                                            </div>
                                            <div ng-show="ctrl.TipoAnuncio == 'Pet perdido' || ctrl.TipoAnuncio == 'Pet encontrado'">
                                                Ficamos muito felizes em saber que você encontrou nosso amigo!
                                            </div>
                                            <br>
                                            Ao clicar em "Confirmar interesse", será aberto um chat para que você combine todos
                                            os detalhes com o Saver.
                                            <br><br>
                                            Esperamos que dê tudo certo, e estamos aqui para o que precisar ;)
                                            <br><br>
                                            #SouPetSaver
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" ng-click="ctrl.BtnConfirmarInteresse()">Confirmar interesse</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal interesse sucesso -->
                        <div class="modal fade" id="modalInteresseRealizado" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body" style="text-align:center">
                                        <img src="icons/ok.png" style="width:150px">
                                        <br /><br />
                                        <span style="font-size: 24px">Seu interesse foi confirmado com sucesso!</span>
                                        <br /><br />
                                        <span style="font-size: 24px" class="link">Clique aqui para abrir o chat</span>
                                    </div>
                                    <div class="modal-footer" style="text-align: center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px; padding: 0px;">
                            <button class="btn btn-secondary" style="width: 100%; height: 50px;" ng-click="ctrl.BtnFazerPergunta()" ng-disabled="ctrl.AcoesDisabled()">
                                Fazer uma pergunta
                            </button>
                        </div>
                        <!-- Modal Pergunta -->
                        <div class="modal fade" id="modalFazerPergunta" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Escreva sua pergunta abaixo.
                                        <br><br>
                                        Ela pode ajudar outros Savers.
                                        <br><br>
                                        <div class="form-group" ng-class="{'has-error':ctrl.ErroTxtPergunta}">
                                            <textarea class="form-control" style="height: 150px; border-radius: 5px;" ng-model="ctrl.TxtPergunta"></textarea>
                                            <small class="form-control-feedback" ng-show="ctrl.ErroTxtPergunta">Pergunta inválida</small>
                                        </div>
                                        <br>
                                        #SouPetSaver
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" ng-click="ctrl.BtnConfirmarPergunta()">Perguntar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal pergunta sucesso -->
                    <div class="modal fade" id="modalPerguntaRealizada" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="text-align:center">
                                    <img src="icons/ok.png" style="width:150px">
                                    <br /><br />
                                    <span style="font-size: 24px">Sua pergunta foi enviada com sucesso!</span>
                                </div>
                                <div class="modal-footer" style="text-align: center">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12 petInformacoesPrincipais">
                            <h2 style="font-size: 40px; color: #500B89">{{ctrl.Pet.Nome}}</h2>
                            <p>{{ctrl.Pet.RacaEspecie}}</p>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <span><img src="icons/location.png" width="30px">{{ctrl.Pet.Cidade}} / {{ctrl.Pet.Estado}}</span>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <span><img src="icons/gender.png" width="30px">{{ctrl.Pet.Sexo}}</span>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <span><img src="icons/size.png" width="30px">{{ctrl.Pet.Idade}}</span>
                                </div>
                            </div>
                            <!-- <hr> -->
                        </div>
                        <div class="col-md-12 petInformacoesSecundarias">
                            <div class="row">
                                <div class="col-md-3">
                                    <span style="font-weight: bold">Porte: </span><span>{{ctrl.Pet.Porte}}</span>
                                </div>
                                <div class="col-md-3">
                                    <span style="font-weight: bold">Peso: </span><span>{{ctrl.Pet.Peso}}</span>
                                </div>
                                <div class="col-md-3">
                                    <span style="font-weight: bold">Cor: </span><span>{{ctrl.Pet.Cor}}</span>
                                </div>
                                <div class="col-md-3">
                                    <span style="font-weight: bold">Pelo: </span><span>{{ctrl.Pet.Pelo}}</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 petInformacoesSecundarias">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <h3 style="color: #500B89">Saúde</h3>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-weight: bold">Vacinado: </span><span>{{ctrl.Pet.Vacinado}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-weight: bold">Vermifugado: </span><span>{{ctrl.Pet.Vermifugado}}</span>
                                </div>
                                <div class="col-md-4">
                                    <span style="font-weight: bold">Castrado: </span><span>{{ctrl.Pet.Castrado}}</span>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 petInformacoesSecundarias">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <h3 style="color: #500B89">Sobre</h3>
                                </div>
                                <div class="col-md-12">
                                    <p class="sobreOPet">
                                        {{ctrl.Pet.Descricao}}
                                    </p>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-md-12 petInformacoesSecundarias">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <h3 class="color-primary">Saver</h3>
                                    <span>{{ctrl.Anunciante.Nome}}</span> <br>
                                    <img src="icons/paw.png" width="20px" style="margin:5px;" ng-repeat="x in [].constructor(ctrl.Anunciante.Avaliacao) track by $index">
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-md-12 petInformacoesSecundarias">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px">
                                    <h3 style="color: #500B89">Ajude a encontrar um lar para {{ctrl.preGenero}} {{ctrl.Pet.Nome}}</h3>
                                </div>
                            </div>
                            <div class="row col-md-8 offset-md-2" style="text-align: center;">
                                <div id="copiar" class="col-4">
                                    <img class="imgIconShare" src="icons/copy.png">
                                </div>
                                <div class="col-4">
                                    <a href="{{ctrl.linkCompartilharWpp}}" id="whatsapp-share-btt" rel="nofollow" target="_blank"><img class="imgIconShare" src="icons/whatsapp.png"></a>
                                </div>
                                <di class="col-4">
                                    <a target="_blank" data-href="{{ctrl.linkCompartilharFace}}" data-layout="button_count" href="{{ctrl.linkCompartilharFace}}"><img class="imgIconShare" src="icons/facebook.png"></a>
                                </di>
                            </div>
                        </div>
                        <button id="buttonGostei" class="btn" ng-show="ctrl.MostarGostei" ng-click="ctrl.BtnGostarClick()" ng-disabled="ctrl.AcoesDisabled()" ng-class="{'btn-primary': ctrl.Gostei, 'btn-secondary': !ctrl.Gostei}">
                            <img src="icons/heart.png" width="30px">
                        </button>
                    </div>
                </div>
                <hr ng-show="ctrl.Localizacao" />
                <div class="row" style="margin-top: 25px; margin-bottom: 25px;" ng-show="ctrl.Localizacao">
                    <!--Localizacao-->

                    <div class="col-md-12" style="text-align: center; margin-bottom: 25px;">
                        <h1 class="color-primary">Localização</h1>
                    </div>


                    <div id="mapa" style="height: 380px; width: 100%;">

                        <!-- Maps API Javascript -->
                        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCXj4oZ3YtFg7rxU4xGJ1V0EaH2YDjlFCg"></script>

                    </div>

                </div>
                <hr ng-show="ctrl.Duvidas.length > 0" />
                <div class="row" style="margin-top: 25px" ng-show="ctrl.Duvidas.length > 0">
                    <!--Duvidas-->
                    <div class="col-md-12" style="margin-bottom: 25px">
                        <h1 class="color-primary" style="text-align:center">Perguntas</h1>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 25px" ng-repeat="x in ctrl.Duvidas">
                        <span style="font-style: italic;">{{x.Pergunta}}</span>
                        <br />
                        <span style="font-weight: bold; margin-left: 25px">{{x.Resposta}}</span>
                    </div>
                </div>
            </div>
            <div class="container" ng-show="ctrl.notFound">
                <div class="row">
                    <div class="col-md-12" style="text-align: center; height: calc(100vh - 203px); display:flex;justify-content:center;align-items:center;">
                        <div class="col-md-12">
                            <img src="icons/announcement_not_found.png" style="width: 96px; margin-bottom: 15px" />
                            <p class="color-primary" style="font-size:24px">Que pena, o anúncio não foi encontrado</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'login.html'"></div>

    <div ng-include="'rodape.html'"></div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="js/lib/bootstrap/js/popper.min.js"></script>
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/controllers/base.js"></script>
    <script src="js/controllers/pet.js"></script>

</body>

</html>