################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lock
*.config
*.ide
*.ide-shm
*.ide-wal
/Entities/obj/Debug
/PetSaver.WebApi/obj/Debug
/PetSaver.WebApi.Tests/obj/Debug
/Dados/bin/Debug
/Dados/obj/Debug
/Entities/bin/Debug
/PetSaver.Repository.Tests/obj/Debug
/PetSaver.Repository.Tests/bin/Debug
/PetSaver.WebApi/bin
/PetSaver.WebApi.Tests/bin/Debug
/PetSaver.Exceptions/bin/Debug
/PetSaver.Exceptions/obj/Debug
/PetSaver.Utilities/bin/Debug
/PetSaver.Utilities/obj/Debug
/PetSaver.Utilities.Tests/bin/Debug
/PetSaver.Utilities.Tests/obj/Debug
/PetSaver.Business/bin/Debug
/PetSaver.Business/obj/Debug
/PetSaver.Business.Tests/bin/Debug
/PetSaver.Business.Tests/obj/Debug
/PetSaver.Contracts/bin/Debug
/PetSaver.Contracts/obj/Debug
/PetSaver.Site/anuncios
