################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lock
*.config
*.ide
*.ide-shm
*.ide-wal
/Entities/obj/Debug
/PetSaver.WebApi/obj/Debug
/PetSaver.WebApi.Tests/obj/Debug
/Dados/bin/Debug
/Dados/obj/Debug
/Entities/bin/Debug
/PetSaver.Repository.Tests/obj/Debug
/PetSaver.Repository.Tests/bin/Debug
/PetSaver.WebApi/bin
/PetSaver.WebApi.Tests/bin/Debug
