################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.lock
*.config
*.ide
*.ide-shm
*.ide-wal
/Entities/obj/Debug
/PetSaver.WebApi/obj/Debug
/PetSaver.WebApi.Tests/obj/Debug
