body{
    font-family: 'Work Sans', sans-serif;
}

/* #region .: Buttons :. */

.btn-primary {
    background-color: #500B89 !important;
}

.btn-primary:active {
    color: white !important;
}

.btn-primary:hover {
    background-color: rgba(80, 11, 137, 0.74) !important;
}

.btn-primary:disabled {
    cursor: not-allowed !important;
    border: none !important;
    opacity: 0.3;
}

.btn-secondary {
	color: #500B89 !important;
	background-color: white !important;
	border-color: #500B89 !important;
}

.btn-secondary:disabled {
    cursor: not-allowed !important;
    border: none !important;
    opacity: 0.3;
}

.btn-secondary:hover {
	color: white !important;
	background-color: #500B89 !important;
	border-color: #500B89 !important;
}

#dropdownButton:focus,
#dropdownButton:active,
#dropdownButton:visited {
    background-color: #500B89 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

/* #endregion */

#mainNav {
    background-color: #500B89 !important;
}

.adBox {
    height: 430px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}

.imgAdBox {
    max-height: 300px;
    border-radius: 10px;
}

.imgAdBoxHover {
    width: 70%;
    border-radius: 30px;
    max-width: 200px;
}

.imgPetOpened {
    width: 100%;
    border-radius: 10px;
}

.imgPetClosed {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.petInformacoesPrincipais {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.bigImage {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}

.smallImages {
    text-align: left;
    margin: 0px;
    padding: 0px;
}

.petInformacoesSecundarias {
    margin-top: 30px;
    text-align: center;
}

.sobreOPet {
    text-align: center;
}

.imgIconShare {
    width: 50px;
    cursor: pointer;
}

/* #region .: Intern Sidebar :. */

#sidebar-intern a {
    color: #500B89 !important;
} 

#sidebar-intern .has-arrow {
    color: #500B89 !important;
}

#sidebar-intern .has-arrow:after {
    border-color: #500B89 !important;
}

/* #endregion */

/* #region .: Modal :. */

.modal-footer {
    border-top: none !important;
}

/* #endregion */

.boxSelecaoPet {
    padding: 20px;
    cursor: pointer;
}

.boxSelecaoPetSelecionado {
    padding: 20px;
    border: #500B89 solid 1px;
    border-radius: 5px;
}

.boxSelecaoPet img, 
.boxSelecaoPetSelecionado img {
    width: 80%;
    max-width: 200px;
}

h3 {
    color: #500B89 !important;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: #500B89;
}

.imgDisabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/* #region .: Table :. */

th {
    color: #500B89 !important;
    font-weight: bold !important;
}

.columnFitCenter {
    text-align: center !important;
    white-space:nowrap !important;
    width: 1% !important;
}

.columnBoldPrimary {
    color: #500B89 !important;
    font-weight: bold !important;
}

.dropdown-menu a:hover {
    color: #500B89 !important;
}

/* #endregion */