<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- Google Analytics Desenvolvimento -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128203439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128203439-1',
            {
                'page_title': 'AnunciosPendentesFuncionario',
                'page_path': '/_webad/anuncios_pendentes'
            });
    </script>

    <!-- ############################################### -->
    <!-- Google Analytics Produção -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128174105-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128174105-1',
            {
                'page_title': 'AnunciosPendentesFuncionario',
                'page_path': '/_webad/anuncios_pendentes'
            });
    </script> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="unidos podemos salvar a vida de milhões de pets">
    <meta property="og:url" content="https://www.petsaver.com.br" />
    <meta property="og:image" content="http://petsaver.com.br/images/logos/logo_pequena.png">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../images/logos/favicon_pata.ico">
    <title>PetSaver</title>

    <link href="../css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="../css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="../css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="../css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/helper.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/myStyle.css" rel="stylesheet">
    <link href="../css/toggle.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <style>
        #nenhumAnuncio p {
            color: #500B89 !important;
            font-size: 20px;
            text-align: center;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar" ng-app="pets" ng-controller="anunciosPendentesController as ctrl" ng-init="ctrl.OnInit()">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">

        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light bg-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="../home.html">
                        <!-- Logo text -->
                        <span>
                            <img src="../images/logos/logo_fundo_branco_fina.gif" height="40px" alt="homepage" class="dark-logo" />
                        </span>
                        <!-- Logo icon -->
                        <b>
                            <img src="../images/logos/logo_ps_fundo_branco.gif" width="40px" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)">
                                <img src="../icons/menu.png" width="30px">
                            </a>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="../icons/profile.png" width="30px" alt="user">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li>
                                        <a style="color: #500B89 !important;" href="meus_dados.html">
                                            <img src="../icons/profile_edit.png" width="30px" alt="meus dados"></i>
                                            meus
                                            dados
                                        </a>
                                    </li>
                                    <li class="link" ng-click="ctrl.base.FazerLogoffFuncionario(); ">
                                        <a style="color: #500B89 !important;" href="#">
                                            <img style="cursor: pointer;" src="../icons/logout.png" width="30px" alt="sair"></i>
                                            sair
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" id="sidebar-intern">
                    <ul id="sidebarnav" style="margin-top:20px;">
                        <li>
                            <a style="color: #500B89 !important;" href="dashboard.html">
                                <img src="../icons/dashboard.png" width="30px">
                                <span class="hide-menu">Visão Geral</span>
                            </a>
                        </li>
                        <li class="nav-label color-primary">Anúncios</li>
                        <li>
                            <a href="anuncios_pendentes.html" aria-expanded="false">
                                <img src="../icons/update.png" width="30px">
                                <span class="show-menu">Pendentes</span>
                            </a>
                        </li>
                        <li class="nav-label color-primary">Fale Conosco</li>
                        <li>
                            <a href="fale_conosco.html" aria-expanded="false">
                                <img src="../icons/chat.png" width="30px">
                                <span class="show-menu">Mensagens</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper" style="background-color: white;">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Meus anúncios</h3>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div>
                    <div ng-show="!ctrl.Anuncios || ctrl.Anuncios.length == 0">
                        <div class="row">
                            <div class="col-md-12" id="nenhumAnuncio">
                                <p>Nenhum anúncio encontrado.</p>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="!ctrl.Anuncios || ctrl.Anuncios.length == 0">
                        <div class="row">
                            <div>
                                <p>Aqui estão todos os anúncios pendentes</p>
                                <p>Clique em detalhar para ver os detalhes e aprovar</p>
                            </div>
                        </div>
                        <div ng-show="ctrl.Buscando" class="col-md-12" style="text-align: center; margin-top: 30px">
                            <img style="width:100px;" src="../images/loading.gif" />
                        </div>
                        <div id="tableAnuncios" ng-hide="ctrl.Buscando || !ctrl.Anuncios || ctrl.Anuncios.length < 1" class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="columnFitCenter">#</th>
                                        <th>Saver</th>
                                        <th>Pet</th>
                                        <th>Tipo Anúncio</th>
                                        <th>Data cadastro</th>
                                        <th class="columnFitCenter">Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in ctrl.Anuncios">
                                        <th class="columnFitCenter" scope="row">{{$index + 1}}</th>
                                        <td><span>{{x.Nome}}</span></td>
                                        <td><span>{{x.Animal}}</span></td>
                                        <td><span class="badge" ng-class="{'badge-danger': x.TipoAnuncio == 'Pet perdido', 'badge-success': x.TipoAnuncio == 'Pet encontrado', 'badge-primary': x.TipoAnuncio == 'Doação'}">{{x.TipoAnuncio}}</span></td>
                                        <td><span>{{x.DataCadastro}}</span></td>
                                        <td class="columnFitCenter">
                                            <img class="link" src="../icons/find.png" width="30px" ng-click="ctrl.DetalharAnuncio(x.IdAnuncio)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="ctrl.BuscandoDetalhes" class="col-md-12" style="text-align: center; margin-top: 30px">
                            <img style="width:100px;" src="../images/loading.gif" />
                        </div>
                        <div id="saversInteressados" class="row" style="margin-top: 40px" ng-show="ctrl.Detalhes && !ctrl.BuscandoDetalhes">
                            <div class="col-6">
                                <h2 class="color-primary">Detalhes do anúncio</h2>
                            </div>
                            <div class="col-6" style="text-align: right">
                                <button class="btn btn-secondary" ng-click="ctrl.FecharDetalhes()">Fechar</button>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <span>Nome:</span>
                                    <p>{{ctrl.Detalhes.NomePet}}</p>
                                </div>
                                <div class="col-md-9">
                                    <span>Sobre:</span>
                                    <p>{{ctrl.Detalhes.Sobre}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" ng-repeat="x in ctrl.Detalhes.Fotos">
                                    <img src="../{{x.Valor}}" style="width: 100%" />
                                </div>
                            </div>
                            <div class="col-md-12" style="text-align: center; margin-top: 25px">
                                <button class="btn btn-primary" ng-click="ctrl.AbrirModalConfirmacao()" ng-disabled="ctrl.Aprovando">Aprovar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- Modal sucesso ativação-->
    <div class="col-md-12">
        <div class="modal" id="modalConfirmacaoAtivacao" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            Deseja realmente ativar esse anúncio?
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <button type="button" class="btn btn-primary" ng-click="ctrl.AprovarAnuncio(ctrl.Detalhes.IdAnuncio)" ng-disabled="ctrl.Aprovando">Sim</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal sucesso ativação-->
    <div class="col-md-12">
        <div class="modal" id="modalSucessoAtivacao" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            Anúncio ativado com sucesso!
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
    <!-- End Page wrapper  -->
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="../js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../js/lib/bootstrap/js/popper.min.js"></script>
    <script src="../js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="../js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../js/custom.min.js"></script>
    <!--stickey kit -->
    <script src="../js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>

    <script src="../js/lib/datamap/d3.min.js"></script>
    <script src="../js/lib/datamap/topojson.js"></script>
    <script src="../js/lib/datamap/datamaps.world.min.js"></script>
    <script src="../js/lib/datamap/datamap-init.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="../js/controllers/app.js"></script>
    <script src="../js/controllers/base.js"></script>
    <script src="../js/controllers/_webad/anunciosPendentes.js"></script>

</body>

</html>