<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="petsaver" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=petsaver;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--<add name="petsaver" connectionString="Data Source=173.193.169.235\SQLEXPRESS;Initial Catalog=petsaverHML;User id=phtrind; Password=pedroSqlServer;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>