<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="costa_almeida_cobranca" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=petsaver;User Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>