<ion-card>
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/355.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/912.jpeg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="https://petsaver.com.br/anuncios/59ed603a-d4dc-7a48-584b-22286372baee/285.jpeg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-card-header>
    <ion-card-title style="text-align: center; font-weight: normal" color="secondary">Lexy</ion-card-title>
  </ion-card-header>
  <ion-card-content style="text-align: center; padding: 0px; font-size: 16px">
    <ion-grid>
      <ion-row>
        <ion-col color="primary">
          <ion-badge color="primary">Doação</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col color="primary">
          <ion-label color="secondary">Fêmea • Idosa • Grande</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label color="secondary">Belo Horizonte / MG</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: left">
          <ion-icon name="heart-empty"></ion-icon>
        </ion-col>
        <ion-col style="text-align: right">
          <ion-icon name="share"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>